<div class="row">
    <div class="small-12 columns">

		<h2>Your Cart</h2>
		{% if cart.item_count == 0 %}
			<p>You have nothing in your cart.</p>
		{% else %}

			<table width="100%">
				<thead>
					<th></th>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
					<th></th>
				</thead>

		 		<tbody>
					{% for item in cart.items %}
						<tr>
							<td><img src="{{ item.product.images.first | product_img_url: 'thumb' }}" alt="{{ item.title | escape }}" /></td>
							<td><a href="{{ item.product.url }}">{{ item.title }}</a></td>
							<td>{{ item.price | money }}</td>
							<td>{{ item.quantity }}</td>
							<td>{{ item.line_price | money }}</td>
							<td><a href="#"><i class="icon-trash"></i></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		{% endif %}

	</div>
</div>
