<div class="row">
    <div class="small-12 columns">

		{% paginate collection.products by 12 %}

			{% if collection.products.size == 0 %}
				<p>No products found in this collection.</p>
			{% else %}

				<h3>{{ collection.title }}</h3>
				{{ collection.description }}
				<hr>

				{% for product in collection.products %}
					{% capture cycle %}{% cycle '1', '2', '3', '4' %}{% endcapture %}
					{% if cycle == '1' %}<div class="row">{% endif %}

					<div class="small-12 large-4 columns">
						<a href="{{product.url}}">
							<img class="th" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}">
						</a>
						<h5 class="subheader"><a href="{{product.url}}">{{product.title}}</a></h5>
						<p>{{product.price_min | money}}</p>
						<hr>
					</div>
					
					{% if cycle == '4' or forloop.last %}</div>{% endif %}
				{% endfor %}
					
				{% include 'pagination' %}

			{% endif %}

		{% endpaginate %}

	</div>
</div>