<div class="row">
	<div class="small-12 columns">

		{% assign article = pages.frontpage %}

		{% if article.content != "" %}
			<div class="row">
				<div class="small-12 text-center columns">
					<h1>{{ article.title }}</h1>
					{{ article.content }}
				</div>
			</div>
		{% endif %}


		<h2>{{ collections.frontpage.title }}</h2>
		{{ collections.frontpage.description }}
		<hr>

		<div class="row">
			{% for product in collections.frontpage.products | limit:3 %}
				<div class="small-12 large-4 columns">
					<a href="{{product.url}}">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>
					<h5 class="subheader"><a href="{{product.url}}">{{product.title}}</a></h5>
					<p>{{product.price_min | money}}</p>
					<hr>
				</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="small-12 large-8 columns">
				<h4>{{ blogs.news.title }}</h4>
				<hr>

				{% for article in blogs.news.articles limit: 5 %}
					<h5 class="subheader"><i class="icon-file"></i> <a href="{{ article.url }}">{{ article.title }}</a></h5>
					<i>{{ article.published_at | date: "%B %d, %Y" }}</i>
					{{ article.excerpt }}
					<hr>
				{% endfor %}

			</div>

			<div class="small-12 large-4 columns">
				<h4>Something Else</h4>
				<hr>
			</div>
		</div>

	</div>
</div>





