<div class="row">
	<div class="small-12 columns">

		{% assign article = pages.frontpage %}
		{% if article.content != "" %}
			<div class="row">
				<div class="small-12 text-center columns">
					<h1>{{ article.title }}</h1>
					{{ article.content }}
				</div>
			</div>
		{% endif %}

		<ul data-orbit data-options="bullets:false;" class="text-center">
			<li>
				<img src="http://placehold.it/1000x563">
				<div class="orbit-caption">
					<h2>Caption One.</h2> 
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</li>
			<li>
				<img src="http://placehold.it/1000x563">
				<div class="orbit-caption">
					<h2>Caption Two.</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</li>
			<li>
				<img src="http://placehold.it/1000x563">
				<div class="orbit-caption">
					<h2>Caption Three.</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</li>
		</ul>



		<h3>{{ collections.frontpage.title }}</h3>
		{{ collections.frontpage.description }}
		<hr>

		
		{% for product in collections.frontpage.products | limit:3 %}
			{% capture cycle %}{% cycle '1', '2', '3' %}{% endcapture %}
			{% if cycle == '1' %}<div class="row">{% endif %}

			<div class="small-12 large-4 columns">
				<a href="{{product.url}}">
					<img class="th" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}">
				</a>
				<h5 class="subheader"><a href="{{product.url}}">{{product.title}}</a></h5>
				<p>{{product.price_min | money}}</p>
				<hr>
			</div>

			{% if cycle == '3' or forloop.last %}</div>{% endif %}
		{% endfor %}
		

		<div class="row">
			<div class="small-12 large-8 columns">
				<h4>{{ blogs.news.title }}</h4>
				<hr>

				{% for article in blogs.news.articles limit: 5 %}
					<h5 class="subheader"><i class="icon-file"></i> <a href="{{ article.url }}">{{ article.title }}</a></h5>
					<i>{{ article.published_at | date: "%B %d, %Y" }}</i>
					{{ article.excerpt }}
					<hr>
				{% endfor %}
			</div>

			<div class="small-12 large-4 columns">
				<h4>Something Else</h4>
				<hr>
			</div>
		</div>

	</div>
</div>





