<div class="row">
	<div class="small-12 columns">

		{% assign article = pages.frontpage %}
		{% if article.content != "" %}
			<div class="row">
				<div class="small-12 text-center columns">
					<h1>{{ article.title }}</h1>
					{{ article.content }}
				</div>
			</div>
		{% endif %}

		<ul data-orbit data-options="bullets:false;" class="text-center">
			<li>
				<img src="http://placehold.it/1000x563">
				<div class="orbit-caption">
					<h2>Caption One.</h2> 
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</li>
			<li>
				<img src="http://placehold.it/1000x563">
				<div class="orbit-caption">
					<h2>Caption Two.</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</li>
			<li>
				<img src="http://placehold.it/1000x563">
				<div class="orbit-caption">
					<h2>Caption Three.</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a class="button" href="#">Learn More</a>
				</div>
			</li>
		</ul>

		<h3>{{ collections.frontpage.title }}</h3>
		{{ collections.frontpage.description }}
		<hr>

		<ul class="small-block-grid-3">
			{% for product in collections.frontpage.products %}
				{% include 'product' with product %}
			{% endfor %}
		</ul>

		<div class="row">
			<div class="small-12 large-8 columns">
				<h4>{{ blogs.news.title }}</h4>
				<hr>

				{% for article in blogs.news.articles limit: 5 %}
					<h5><a href="{{ article.url }}"><i class="icon-file"></i> {{ article.title }}</a></h5>
					<p>
						By {{ article.author }}<br>
						Posted on {{ article.created_at | date: "%B %d, %Y" }}
						{% if article.comments_enabled? %}
			       			{% if article.comments_count == 0 %}
								| 0 comments
							{% else %}
			 					| <a href="{{article.url}}#comments"><i class="icon-comments"></i> {{ article.comments_count }} comments</a>
							{% endif %}
			       		{% endif %}
					</p>

					{{ article.excerpt }}
					<hr>
				{% endfor %}
			</div>

			<div class="small-12 large-4 columns">
				<h4>Connect with us</h4>
				<hr>
				{% if linklists.social.links.size > 0 %}
                    <ul class="side-nav">
                        {% for link in linklists.social.links %}
                            <li><a href="{{ link.url }}" title="{{ link.title | strip_html }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
			</div>
		</div>

	</div>
</div>





